<!DOCTYPE html>
<html>
	<%- include('layout/head'); %>
	<body>
		<main id="game">
			<section>
				<% dataSet.data.forEach(data => {%>
				<article class="scene scene--card">
					<div class="card">
						<div
							class="card__face card__face--front"
							style="background-image: url(<%=data.images[0] %>)"
						>
							<p><%= data.name %></p>
							<!-- <img src="<%=data.images[0] %>" alt="" /> -->
						</div>
						<div class="card__face card__face--back"></div>
					</div>
				</article>
				<%})%>
				<section>
					<h2>Your character:</h2>
					<h4><%= dataSet.randomCharacter.name %></h4>
					<div
						id="givenCharacter"
						style="background-image: url(<%=dataSet.randomCharacter.images[0] %>)"
					></div>
				</section>
			</section>
			<section id="chatContainer">
				<ul id="messages"></ul>
				<div id="feedback"></div>
				<form id="chat" action="">
					<input id="input" autocomplete="off" />
					<button type="submit">Send</button>
				</form>
			</section>
		</main>
	</body>
</html>
